@{
    ViewData["Title"] = "Home ";
}

<div class="text-center">
    <a asp-area="" asp-controller="Home" asp-action="Index">
    <div class="custom-svg mx-auto">
    </div></a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
