
@{
    var name = nameof(NetflixMovie.Controllers.MathController.Calculator);
}
<div class="container">
    <div class="row">
        <a asp-action="@name">Phep Cong</a>
    </div>
    <div class="row">
        <a asp-action="@name">Phep Tru</a>
    </div>
    <div class="row">
        <a asp-action="@name">Phep Nhan</a>
    </div>
    <div class="row">
        <a asp-action="@name"> Phep Chia</a>
    </div>
</div>